{% extends  layout %}
{% block  content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
      <br/>
      <h3 class="display-6 text-center">Application Complete</h3>
      <h5>{{name}} Thank you for applying to this useful goverment service.</h5>
      </div>
    </div>
 </div>
{% endblock %}