{% extends  layout %}
{% block  content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <br/>
        <h3 class="display-6 text-center">Some Useful Goverment Service</h3>
        <form method="POST" action="/">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name"/>
              <div class="invalid-feedback d-block" for="name">{{errors.name}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="sex" class="col-sm-2 col-form-label">Sex</label>
            <div class="col-sm-10">
              <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="sex" id="male" value="Male">
                  <label class="form-check-label" for="male">
                    Male
                  </label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="sex" id="female" value="Female">
                  <label class="form-check-label" for="female">
                    Female
                  </label>
                </div>
                <div class="invalid-feedback d-block" for="sex">{{errors.sex}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="age" name="age"/>
              <div class="invalid-feedback d-block" for="age">{{errors.age}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-sm-2 col-form-label">Country</label>
            <div class="col-sm-10">
              <select id="country" class="form-control" name="country">
                <option selected></option>
              {% asyncAll country in countries %}
                <option>{{ country }}</option>
              {% endall %}
              </select>
              <div class="invalid-feedback d-block" for="country">{{errors.country}}</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Apply</button>
          <div class="invalid-feedback d-block" for="age">{{errors.api}}</div>
      </div>
    </div>  
  </div>
{% endblock %}